* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.welcome-msg {
  font-size: 24px;
  font-weight: bold;
}
